body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #D8E3EC;
}

/* Old background: background-color: #dbe4ee; */


* {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.5em;
  margin: 1.5rem;
  right: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.title,
.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

.title {
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:not(.active):hover {
  background-color: #A5B5E1;
  transition: 0.3s;
  color: black;
  }

.active {
  background-color: #1d4ed8;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media all and (min-width: 360px) and (max-width: 969px) {
    display: none;
    flex-direction: column;
    width: 97.9%;
    margin-bottom: 0.25rem;
  }
}

.menu-clicked {
  display: flex;
}
